$white: #ffffff;
$black: #000000;
$sand: #eeeeee;
$sand-d: #737373;
$egg: #f4ad00;
$fiorentina: #740090;

$bd: 10px;

$aria: 10px;
$h: 48px;

$main-font: 'Oswald', sans-serif;

$main-shadow: 0 0 6px 0 rgba($black, 0.2);
