@mixin limit-to($width) {
    max-width: $width;
    width: 100%;
}

@mixin hlh($h) {
    height: $h;
    line-height: $h;
}

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin button-reset {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

@mixin main-shadow {
    box-shadow: $main-shadow;
}
